.content {
  padding: 10px;
  border: 2px solid black;
  width: 100%;
  display: flex;
  flex-direction: row;

  justify-content: space-around;
}
.content div {
}

.image {
}

.image img {
  height: 100%;
  border-radius: 140px;
  width: 100%;
  border: 4px solid black;
  object-fit: fill;
}
.AddProject {
  border: 2px solid black;
  width: 40%;
}
