.item {
  border: 2px solid black;
  list-style: none;
  margin: 10px;
  padding: 1.2rem;
  border-radius: 10px;
  color: white;
  background-color: #cecece;

  /* background-color: darkblue; */
}
/* .item Link {
  color: black;
}
.tech {
} */

.projectItem {
  text-decoration: none;
  display: flex;
  color: black;
}

.projectItem div {
  border: 2px solid black;
  margin: 0 1.2rem;
  padding: 0 1rem;
}
.image {
  height: 2rem;
  width: 40rem;
}
